<header class="header-6">
    <div class="branding">
        <a [routerLink]="['/']" class="nav-link">
            <clr-icon shape="vm-bug"></clr-icon>
            <span class="title">LOGO</span>
        </a>
    </div>
    <div class="header-nav">
        <a class="nav-link nav-text" [routerLink]="['/']"><span class="nav-text">Accueil</span></a>
        <a class="nav-link nav-text" [routerLink]="['/APropos']"><span class="nav-text">A propos</span></a>
        <a class="nav-link nav-text" [routerLink]="['/Competences']"><span class="nav-text">Competences</span></a>
        <a class="nav-link nav-text" [routerLink]="['/Experiences']"><span class="nav-text">Experiences</span></a>
    </div>
</header>
