<div class="conteneur">

    <div class="clr-col-6 clr-offset-sm-3 haut">
        <div class="clr-col-12">
            <h1 class="titre">Mes Compétences</h1>
        </div>
        <div class="clr-col-12 texte">
            <p class="txt">dicta eaque rerum error vitae commodi excepturi aliquam pariatur possimus,
                voluptates placeat incidunt quae quidem illum optio enim, sint quam itaque.</p>
        </div>
    </div>


    <div class="competences">

        <div class="clr-col-md-4 premier">
            <p class="numero">00%</p>
            <div class="alpha">
                <h3 class="txt2">HTML, CSS</h3>
                <p>prout</p>
            </div>
        </div>

        <div class="clr-col-md-4 premier">
            <p class="numero">98%</p>
            <div class="alpha">
                <h3 class="txt2">HTML, CSS</h3>
                <p>barre de skills</p>
            </div>
        </div>

        <div class="clr-col-md-4 premier">
            <p class="numero">98%</p>
            <div class="alpha">
                <h3 class="txt2">HTML, CSS</h3>
                <p>barre de skills</p>
            </div>
        </div>
    </div>

    <div class="competences2">

        <div class="clr-col-md-4">
            <p class="numero">98%</p>
            <div class="alpha">
                <h3 class="txt2">HTML</h3>
                <p>barre de skills</p>
            </div>
        </div>

        <div class="clr-col-md-4">
            <p class="numero">98%</p>
            <div class="alpha">
                <h3 class="txt2">HTML</h3>
                <p>barre de skills</p>
            </div>

        </div>

        <div class="clr-col-md-4">
            <p class="numero">98%</p>
            <div class="alpha">
                <h3 class="txt2">HTML</h3>
                <p>barre de skills</p>
            </div>
        </div>

    </div>
</div>
