.conteneur {
    border-top-style: solid;
    background-color: #F2F2F2;
    border-bottom: outset;
    
}

.haut {
    margin-top: 66px;
}

.titre {
    font-size: 55px;
    font-family: 'Josefin Sans', sans-serif;
    color: #18181A;
    text-align: center;
   
}

.clr-col-md-4 {
    position:relative;
    background-color: #282828;
    max-width: 26%;
    margin-left: 50px;
    margin-right: 111px;
    min-height: 600px;
}

.experiences {
    margin-top: 102px;
    margin-bottom:39px;
}

.vignettes {
    position:absolute;
    display:flex;
    right: 595px;
    top: 267px;
}

.Vgauche {
    margin-right: 431px;
}

.Vcentre {
    margin-right: 428px;
}

.Vdroite {
    margin-right: -264px;
}


.xp {
    display:flex;
}

.clr-col-md-2 {
    background-color: #FC4225;
    min-height: 75px;
    min-width: 230px;
}

