<div class="conteneur">
    <div class="truc">
        <div class="clr-col-6 clr-offset-sm-3 haut">
            <h1 class="titre">Mes Expériences professionnels</h1>
        </div>

        <div class="experiences">
            <div class="xp">
                <div class="clr-col-md-4">
                    <p>bonjour</p>
                </div>

                <div class="clr-col-md-4">
                    <p>Bon dias</p>
                </div>

                <div class="clr-col-md-4">
                    <p>Hola</p>
                </div>
            </div>

            <div class="vignettes">
                <div class="clr-col-md-2 Vgauche">
                    <p>^^</p>
                </div>
                <div class="clr-col-md-2 Vcentre">
                    <p>??</p>
                </div>
                <div class="clr-col-md-2 Vdroite">
                    <p>!!</p>
                </div>
            </div>



        </div>
    </div>